<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="io.moka.lib.imagepicker">

	<application>

		<activity
			android:name=".image.gallery.AlbumActivity"
			android:theme="@style/Theme.NoActionBar"/>

		<activity
			android:name=".image.editor.ImageEditorActivity"
			android:theme="@style/Theme.TransStatus"/>

		<activity
			android:name=".image.viewer.ImageViewerActivity"
			android:theme="@style/Theme.NoActionBar"/>

	</application>

</manifest>
