<manifest xmlns:android="http://schemas.android.com/apk/res/android"
		  xmlns:tools="http://schemas.android.com/tools"
		  package="io.moka.mokabase">

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>

	<application
		android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:theme="@style/MokaTheme"
		tools:ignore="GoogleAppIndexingWarning">

		<meta-data
			android:name="com.google.android.gms.ads.APPLICATION_ID"
			android:value="ca-app-pub-7847386025632674~4395347068"/>

		<activity
			android:name=".MainActivity">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>

			</intent-filter>
		</activity>

		<activity
			android:name="io.moka.lib.authentication.AccountIntroLayout"
			android:theme="@style/MokaTheme.TransStatus"/>

		<service
			android:name="io.moka.lib.authentication.AuthenticationService">

			<intent-filter>
				<action android:name="android.accounts.AccountAuthenticator"/>

			</intent-filter>
			<meta-data
				android:name="android.accounts.AccountAuthenticator"
				android:resource="@xml/authenticator"/>
		</service>

		<!--++++++++++++++++++++++++++ Provider ++++++++++++++++++++++++++-->

		<provider
			android:name="androidx.core.content.FileProvider"
			android:authorities="${applicationId}.fileprovider"
			android:exported="false"
			android:grantUriPermissions="true">

			<meta-data
				android:name="android.support.FILE_PROVIDER_PATHS"
				android:resource="@xml/filepaths"/>
		</provider>

	</application>
</manifest>
